<!DOCTYPE html>
<html>
    <head>
        <title>Pick Your Path</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    </head>
    <body>
        <!-- NavBar -->
        <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <a href="http://127.0.0.1:5000" class="uk-navbar-item uk-logo">
                        <img data-src="{{ url_for('static', filename='images/logo.png') }}" width="100" height="" alt="" uk-img>
                    </a>
                </div>
        </nav>

        <!-- _____ to ______ -->
        <h1 align="center" class=" uk-heading-primary uk-align-center uk-margin-medium">{{ origin }} to {{ destination }}</h1>

        <!-- Option Cards -->
        <p uk-margin>
            <div class="uk-card uk-card-default uk-card-body uk-width-5-6 uk-align-center uk-card uk-card-hover">
                <h3><b>Departure:</b> {{ option1depart }} | <b>Arrival:</b> {{ option1arrive }} | <b>Time Elapsed:</b> {{ option1time }} | <b>Price:</b> ${{ option1price }}</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-5-6 uk-align-center uk-card uk-card-hover">
                <h3><b>Departure:</b> {{ option2depart }} | <b>Arrival:</b> {{ option2arrive }} | <b>Time Elapsed:</b> {{ option2time }} | <b>Price:</b> ${{ option1price }}</h3>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-5-6 uk-align-center uk-card uk-card-hover">
                <h3><b>Departure:</b> {{ option3depart }} | <b>Arrival:</b> {{ option1arrive }} | <b>Time Elapsed:</b> {{ option3time }} | <b>Price:</b> ${{ option1price }}</h3>
            </div>
        </p>
    </body>
</html>